.details h2 {
    font-size: 3em;
    margin:auto 80px;
    margin-top: 80px;
    text-align: right;
    
}
.flexible {
    display: flex;
    align-items: center;
    justify-content: center;
}
.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.details h3 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 40px;
}
.html {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    --webkit-box-flex: 0;
    width: 83%;
    font-size: 1.4rem;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #4a4a4a;
    line-height: 1.5;
    font-weight: 400;
}
.feature {
    margin-bottom: 40px;
}